*{box-sizing: border-box;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    }
:root{
   --main-color:rgb(23, 123, 236);
}
.img{
    margin: auto;
    display: flex;
}
.header{
    padding: 50px;
    text-align: center;
}
.header h1 span{
color: var(--main-color);
font-size:larger;
}
.container{
    padding: 20px;
    align-items:center ;
    padding-left: 150px; 
}
.container h2{
    font-weight: 500;
}
.container h1 span{
    color: var(--main-color);
}
.container ul{
    padding: 20px;
}
.container ul li{
    font-size: x-large;
}